# site-specific includes
# path to cuda - shoudl contain bin/nvcc
CUDA_PATH=$(CUDA)

# target cuda architecture e.g. compute_60
CUDA_ARCH=compute_60

# target cuda code = e.g. sm_60
CUDA_CODE=sm_60

# path to cub.h from cub-1.6.4 https://nvlabs.github.io/cub/
CUB_PATH=$(HOME)/build/cub/cub-1.6.4/cub/

# path to PSRDADA: http://psrdada.sourceforge.net/
DADA_PATH=/home/craftop/askap/trunk/3rdParty/psrdada/psrdada-537159/install/
